*{
  background-color: #2C3639;
  font-family: 'Rubik', sans-serif;
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.logo{
  font-weight: 700;
  font-size: 30px;
  font-style: italic;
}

a:hover{
  color: white;
}

.navilinks{
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
}

li, a{
  color: #9eb7c0;
  text-decoration: none;
}
.navilinks a:hover{
  color: white;
}
#navigation a:hover{
  color: white;
}
.navigation{
  width: 100%;
  color: white;
  height: 50px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.navigation .container{
  max-width: 45%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.picture{
  max-width: 45%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
nav{
  display: flex;
}

nav ul{
  display: flex;
  margin-right: 20px;
}
nav ul li{
  list-style: none; 
  margin: 0px 10px;
}

.pic{
  width: 260px;
  height: 260px;
}

.div-info{
  max-width: 45%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 20px;
}

.introduction{
margin-bottom: 25px;
font-style: normal;
font-weight: 600;
font-size: 18px;
}

.welcome{
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 25px;
}

.learn{
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 25px;
}

hr{
  max-width: 45%;
  margin: 0px auto;
  display: flex;
  border: 2px solid #4F6166;
  margin-bottom:45px;
}

.info{
  max-width: 45%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.info-links{
  max-width: 45%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.label{
font-size: 24px;
font-style: italic;
font-weight: 700;
line-height: 28px;
letter-spacing: 0.02em;
margin-bottom: 20px;
}

.content{
color: white;
font-size: 18px;
font-weight: 300;
line-height: 24px;
}

.social-menu{
  max-width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.links{
  width: 30px;
  height: 30px;
}

.socialnav{
  max-width: 45%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.social-menu ul li{
text-decoration: none;
list-style: none; 
}

